<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://t9-af-2020630140.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cf51af35-f6ec-4773-abf1-15110936ea5f/resourceGroups/Tarea9/providers/Microsoft.Web/sites/T9-AF-2020630140</ResourceId>
    <UserName>$T9-AF-2020630140</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://t9-af-2020630140.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>